<!-- En django_app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}Mi Sitio Web{% endblock %}</h1>
        <p>Este es el encabezado de base.html.</p>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
